<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita qui, aspernatur est facilis culpa quaerat non perspiciatis recusandae voluptates doloribus repudiandae beatae sed, saepe corporis voluptatem molestias magnam incidunt veniam?</p>
    </div>
</section>