<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App and MongoDB</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dicta sit velit repellat quaerat praesentium quisquam excepturi odit. Laudantium enim eum possimus natus neque accusamus excepturi sunt voluptatibus culpa dignissimos?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum iure inventore quis repellat a quam, architecto deserunt in ab culpa necessitatibus ad assumenda illo earum explicabo reprehenderit totam perferendis? Esse?</p>
    <a class="btn btn-primary" href="https://github.com/fransempe">Github Fran Sempe</a>
</div>